# Dependencies
node_modules/

# Build
dist/
build/

# Environment variables
.env

# Logs
*.log

# VSCode
.vscode/

# OS files - macOS
.DS_Store
.AppleDouble
.LSOverride

# OS files - Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
Desktop.ini